<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- Cho phép Firebase, Cloudinary và các liên kết trực tuyến hoạt động -->
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- Khai báo các loại ứng dụng TravelHub cần mở -->
    <queries>
        <!-- Google Maps, Zalo, Facebook và trình duyệt -->
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:scheme="https" />
        </intent>

        <!-- Liên kết HTTP dự phòng -->
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:scheme="http" />
        </intent>

        <!-- Ứng dụng gọi điện -->
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:scheme="tel" />
        </intent>

        <!-- Ứng dụng email -->
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:scheme="mailto" />
        </intent>

        <!-- Trình duyệt tùy chỉnh -->
        <intent>
            <action android:name="android.support.customtabs.action.CustomTabsService" />
        </intent>

        <!-- Chức năng xử lý văn bản mặc định của Flutter -->
        <intent>
            <action android:name="android.intent.action.PROCESS_TEXT" />
            <data android:mimeType="text/plain" />
        </intent>
    </queries>

    <application
        android:name="${applicationName}"
        android:label="TravelHub"
        android:icon="@mipmap/ic_launcher"
        android:usesCleartextTraffic="false"
        android:enableOnBackInvokedCallback="true">

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:taskAffinity=""
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">

            <!-- Giao diện Android khi Flutter đang khởi động -->
            <meta-data
                android:name="io.flutter.embedding.android.NormalTheme"
                android:resource="@style/NormalTheme" />

            <!-- Khai báo activity khởi động chính -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Flutter Android embedding phiên bản 2 -->
        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />
    </application>

</manifest>